// Colors
$red: #F98181;
$black: #000;
$lightblack: #1C1C1C;
$white: #fff;
$grey: #B6C5CD;


// Font Variable
$extra-large: 64px;
$large: 52px;
$large-medium: 48px;
$large-small: 32px;
$medium-large: 24px;
$medium-font: 18px;
$normal-font: 16px;
$small: 14px;
$extra-small: 12px;

// Font Weight
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$bold-black: 900;

$social-icons: (1:"\f09a",2:"\f099",3:"\f194",4:"\f16d ");