// Colors
$turquoise: #3ED4D6;
$lightblue: #3E89FA;
$blue: #1B4681;
$darkblue: #08203B;
$white: #fff;
$grey: #ACB1BC;
$lightgrey: #E8E8E8;


// Font Variable
$extra-large: 64px;
$large: 52px;
$large-medium: 48px;
$large-small: 32px;
$medium-large: 24px;
$medium-font: 18px;
$normal-font: 16px;
$small: 14px;
$extra-small: 12px;

// Font Weight
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$bold-black: 900;


